@import url(root.css);
@import url(header.css);
@import url(footer.css);
@import url(../../lib/toastify-js/toastify.css);

main {
  margin-top: 80px;
  padding: 40px;
}

main article h1 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
}

main article hr {
  height: 5px;
  background-color: var(--color-50);
  border: none;
  border-radius: 2px;
}

main article p {
  letter-spacing: 1px;
  font-size: 15px;
}
main section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

main section form {
  background-color: var(--white);
  width: 600px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main section form .content-input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
}

main section form .content-input select {
  background-color: var(--white);
  outline: none;
  padding: 5px 0px;
  margin: 8px 0;
  width: 100%;
  border: 2px solid #adadad;
  border-radius: 5px;
}
main section form .content-input div {
  width: 100%;
  margin-top: 3px;
}

main section form .content-input input[type = 'radio']{
  width: 20px;
}

main section form .content-input input {
  background-color: var(--white);
  outline: none;
  border: none;
  border-bottom: 2px solid #adadad;
  padding: 12px 0px;
  margin: 8px 0;
  width: 100%;
}

main section form .content-input span {
  position: absolute;
  border-bottom: 3px solid var(--color-400);
  left: 0;
  bottom: 8px;
  width: 0%;
  transition: all 0.3s ease;
}

main section form .content-input input:focus ~ span {
  width: 100%;
}

main section form button {
  position: relative;
  border-radius: 20px;
  border: 1px solid var(--color-500);
  background-color: var(--color-500);
  color: var(--white);
  font-size: 15px;
  font-weight: 700;
  margin: 20px;
  padding: 12px 60px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

main section form button:hover{
    background-color: var(--color-600);
}